<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreateCourtServlet</servlet-name>
        <servlet-class>servlet.manageCourt.CreateCourtServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourtServlet</servlet-name>
        <servlet-class>servlet.manageCourt.DeleteCourtServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>courtAdminServlet</servlet-name>
        <servlet-class>servlet.manageCourt.courtAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEventServlet</servlet-name>
        <servlet-class>servlet.manageEvent.DeleteEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEventServlet</servlet-name>
        <servlet-class>servlet.manageEvent.UpdateEventServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateCourtServlet</servlet-name>
        <url-pattern>/CreateCourtServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourtServlet</servlet-name>
        <url-pattern>/DeleteCourtServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>courtAdminServlet</servlet-name>
        <url-pattern>/courtAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEventServlet</servlet-name>
        <url-pattern>/DeleteEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEventServlet</servlet-name>
        <url-pattern>/UpdateEventServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
